/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { ... }
/*---------------------------------------------------*/
/*---------------------------------------------------*/

@media (max-width: @screen-phone-max) { ... }
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg) { ... }

/*---------------------------------------------------*/
/*---------------------------------------------------*/
@media (max-width: 480px) {
	h1{font-size: 20px}	
	h2{font-size: 18px;}
	h3{font-size: 16px}	
	h4, .f-price, .f-add{font-size: 14px;}
	p{font-size: 10px}
	.footer-wrap ul{width:auto;}
	.footer-wrap ul li a{font-size:8px; margin-right:2px;}
	.footer-wrap ul li{font-size:8px;}
}    
@media (max-width: 767px) {	
	h3{font-size: 16px}	
		
}
@media (min-width: 481px) and (max-width:767px){
	h1{font-size: 20px}
	h2{font-size: 20px}
	
}
@media (max-width:768px){
	.navbar-default{height:auto;}
	.navbar-nav li a{padding:10px}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{padding:10px; text-decoration:none; background:#ccc; color:#ffffff}
	.navbar-default .navbar-nav li a:hover{padding:10px; background:#ccc; text-decoration:none; color:#ffffff; border:none;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: #51bf00}
	.banner-home{background:#ffffff}
	.wrapR img.dlogo{position:static; display:inline;}
	.wrapL{padding:90px 30px;}
	
}
@media (min-width: 768px) and  (max-width: 991px){
	.banner-home{background:#ffffff}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{padding:24px 11px 11px;}
	.navbar-default .navbar-nav li a:hover{ padding:24px 11px 11px;}
	.navbar-nav li a{padding:24px 11px 11px;}
}
@media (max-width: 991px){
	.wrapR h4{margin:10px 0px;}
	button.btnW{margin:10px 0px; }
	.banner-home{background: #51bf00; /* Old browsers */
	background: -moz-linear-gradient(top, #51bf00 0%, #51bf00 48%, #ffffff 48%, #ffffff 48%, #ffffff 48%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51bf00), color-stop(48%,#51bf00), color-stop(48%,#ffffff), color-stop(48%,#ffffff), color-stop(48%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #51bf00 0%,#51bf00 48%,#ffffff 48%,#ffffff 48%,#ffffff 48%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #51bf00 0%,#51bf00 48%,#ffffff 48%,#ffffff 48%,#ffffff 48%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #51bf00 0%,#51bf00 48%,#ffffff 48%,#ffffff 48%,#ffffff 48%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #51bf00 0%,#51bf00 48%,#ffffff 48%,#ffffff 48%,#ffffff 48%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51bf00', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
	.wrapR{background:#ffffff; margin-top:10px;}
	.wrapL{background:transparent;}
	.navbar-default .navbar-toggle{display: none;}
	.wrapR p a.btnW{margin-bottom: 20px;}
	.navbar-nav{display: none;}
	#home, #about, #howToJoin, #mechanics, #sponsors{height: auto;}
}
@media (min-width: 768px) and (max-width: 1199px){
	.wrapR img.dlogo{position:static; display:inline; }
	.wrapR h4{margin:10px 0px;}
	button.btnW{margin:10px 0px; }
}
@media (min-width: 992px) and (max-width: 1199px){
	
}
@media (min-width: 992px) and (max-width: 1400px){
}